.container {
  transform: translateY(-2rem);
  margin-block-end: 2.5rem;
}

.wrapper {
  display: flex;
  background-color: #fff;
  border-radius: 0.3125rem;
  box-shadow: 0 15px 20px -5px rgba(13, 113, 130, 0.15);
  margin-inline: 1rem;
  padding-block: 1.25rem;
  padding-inline: 1.7rem;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.category {
  display: flex;
  background: var(--neutral-clr-cyan-95);
  color: var(--primary-clr-one);
  border-radius: 0.25rem;
  overflow: hidden;


  p {
    padding-inline-start: .5rem;
    padding-inline-end: .70rem;
    font-weight: 700;
    padding-block: .2rem;
  }



  button {
    background-color: var(--primary-clr-one);
    border: none;
    line-height: 0;
  }
}

.btn__clear {
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--neutral-clr-dark-cyan-52);
  font-weight: var(--font-weight-700);
}