.job__category {
  padding-block-start: 1rem;
}

.job__category-list {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.job__category-list-item {
 

  button {
    border-radius: 0.25rem;
    background: hsla(180, 29%, 50%, 0.1);
    border: none;
    color: var(--primary-clr-one);
    font-weight: 700;
    cursor: pointer;
    transition: all 50ms ease-in-out;

    &:hover {
      background-color: var(--primary-clr-one);
      color: #fff;
    }
  }
}


@media only screen and (min-width: 64rem) {
  .job__category-list {
    width: 100%;
  }

  .job__category {
    padding-block-start: 0;
  }
}